.form{
    margin: auto;
    padding: 20px;
    background-color: rgb(91, 207, 239);
    width: fit-content;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input{
    border: none;
    padding: 10px;
    border-radius: 15px 0px 0 15px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input:focus{
    outline: none;
}

.btn{
    border: none;
    padding: 10px;
    border-radius: 0 15px 15px 0 ;
    background-color: #ccc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

